@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --color-primary: #2D274B;
    --color-secondary: #9787f3;
    --color-light: #EAEFFE;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    /* height: 100vh; */
}

/* .p-inputtext {
    width: 100%;
} */

.p-inputtext:enabled:focus {
    border-color: var(--color-secondary) !important;
}

/* .cl-rootBox {
    width: 70% !important;
}

.cl-cardBox {
    width: 100% !important;
}

.cl-rootBox , .cl-cardBox {
    height: 100% !important;
    justify-content: space-evenly;
} */
