@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --color-primary: #AEA9B4;
    --color-secondary: #CAC4D0;
    --color-light: #EAEFFE;
    --color-dark: #01112B;
    /* --color-primary: #2D274B;
    --color-secondary: #9787f3;
    --color-light: #EAEFFE; */
    /* D0BCFE
    4A4458 
    EADDFF
    CAC4D0
    */
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#app {
    width: 100%;
    /* height: 100vh; */
}

/* .p-inputtext {
    width: 100%;
} */

.p-inputtext:enabled:focus {
    border-color: var(--color-secondary) !important;
}

.p-datepicker-today > .p-datepicker-day {
    background: none !important;
    /* background-color: rgb(233, 239, 241) !important; */
}

.p-datepicker-day-selected {
    background-color: rgb(233, 239, 241) !important;
}

.p-datepicker-month-selected {
    background-color: rgb(233, 239, 241) !important;
}

.p-datepicker-year-selected {
    background-color: rgb(233, 239, 241) !important;
}

/* span[data-p="today"] {
    color: white !important;
} */

/* .cl-rootBox {
    width: 70% !important;
}

.cl-cardBox {
    width: 100% !important;
}

.cl-rootBox , .cl-cardBox {
    height: 100% !important;
    justify-content: space-evenly;
} */
